[Unit]
Description=Syncthing container
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=syncthing
Image=lscr.io/linuxserver/syncthing:latest
AutoUpdate=registry
Volume=/home/bloomwhaler/.config/syncthing:/config
Volume=/data/main:/main
Volume=/data/local:/local
Volume=/data/store:/store
HostName=syncthing-wmute
PublishPort=127.0.0.1:8384:8384/tcp
PublishPort=22000:22000/tcp

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC

# UID mapping is needed to run linuxserver.io container as rootless podman.
# This will map UID=1000 inside the container to intermediate UID=0.
# For rootless podman intermediate UID=0 will be mapped to the UID of current user.
UIDMap=1000:0:1
UIDMap=0:1:1000
UIDMap=1001:1001:64536

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
